ion-img {
  width: 25px;
  height: 25px;
}

ion-label {
  font-size: 10px;
}

ion-tab-bar {
  --border: none
}

ion-tab-button {
  &.center {
    position: absolute;;
    overflow: visible;
    text-align: center;
    height: 96px;
    width: 96px;
    left: 0;
    right: 0;
    margin: auto auto -12px;
    bottom: var(--ion-safe-area-bottom,0);
    z-index: 99999;
    ion-label {
      color: #999;
    }

    ion-img {
      width: 36px;
      height: 36px;
      margin-bottom: 10px;
      border-radius: 18px;
      //box-shadow:0 -2px 3px rgba(100,100,100,.2);
    }
  }
  .selected {
    display: none;
  }
  &.tab-selected {
    color: #A5844A;
    ion-label {
      color: #A5844A;
    }
    ion-img {
      display: none;
    }
    .selected {
      display: block;
    }
  }
}
