/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "scss/mat-form-field";
@import "scss/mat-button";
@import "scss/ion-list";
@import "scss/weui-uploader";
@import "scss/ion-badge";
@import "scss/ion-toolbar";
@import "scss/ion-footer";
@import "scss/weui-actionSheet";
@import "scss/webkit/page-tips";
@import "scss/android-fix";

html {
  background: transparent;
}

body {
  background: transparent;
  font-size: 12px;
}

table {
  width: 100%;
  th.mat-header-cell {
    text-align: center;
  }
  tr.mat-header-row {
    height: 48px;
  }
  tr.mat-row {
    height: 36px;
    td {
      font-size: 12px;
    }
  }
}

ion-content {
  --background: #FBFBFB
}

ion-header {
  ion-toolbar {
    --background: #efbf82;
    --color: #fff;

    &:last-of-type {
      --border-width: 0 !important
    }
  }
}

* {
  outline: none;
}
