ion-list {
  ion-list-header {
    font-size: 17px;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #E4E4E4;
    font-weight: normal;
  }

  ion-item {
    --border-color: #E2E2E2;

    ion-avatar {
      width: 40px;
      text-align: center;
      align-self: start;
      margin-top: 15px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      ion-chip {
        font-size: 9px;
        padding-inline-start: 5px;
        padding-inline-end: 5px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        display: inline-block;
        text-align: center;
        height: 12px;
        line-height: 12px;
        padding-top: 0;
        padding-bottom: 0;
        color: #A5844A;
        border: 0.55px solid #A5844A;
        background: transparent;
      }
    }

    ion-label {
      h2 {
        .check {
          font-size: 10px;
          display: inline-block;
          line-height: 1;
          padding: 2px 3px;
          border: 1px solid #BC9C63;
          vertical-align: text-top;
          color: #BC9C63;
          border-radius: 2px;
          &.check-true {
            background: #BC9C63;
            color: #fff;
          }
        }
      }

      h3 {
        font-size: 13px !important;
        color: #B0B0B0;
        margin-bottom: 10px !important;
      }

      p {
        font-size: 12px !important;

        .label {
          color: #C4C4C4;
        }

        .value {
          color: #000000;
        }

        &.actions {
          ion-button {
            margin-left: 10px;
            height: 35px;
            font-weight: normal;
            letter-spacing: 0;
            --padding-start: 1.2em;
            --padding-end: 1.2em;
            --ion-color-shade: #FFF9F0 !important;
            --ion-color-tint: #FFF9F0 !important;
            --ripple-color: currentColor;

            &.ion-color-medium {
              font-size: 18px;
              --ion-color-base: #E8E8E8 !important;
              --ion-color-base-rgb: #E8E8E8 !important;
              --ion-color-contrast: #787878 !important;
              --ion-color-contrast-rgb: #787878 !important;
              --border-width: 0;
              --border-color: #BEA15B;
              --border-style: solid;
              --color-activated: #BEA15B;
              --color-focused: #BEA15B;
              --color-hover: #BEA15B;
              --box-shadow: none;
              --color: #BEA15B;
              --border-radius: 5px;
            }

            &.ion-color-primary {
              font-size: 18px;
              --ion-color-base: #BEA15B !important;
              --ion-color-base-rgb: #BEA15B !important;
              --ion-color-contrast: #FFFFFF !important;
              --ion-color-contrast-rgb: #FFFFFF !important;
              --border-width: 0;
              --border-color: #BEA15B;
              --border-style: solid;
              --color-activated: #BEA15B;
              --color-focused: #BEA15B;
              --color-hover: #BEA15B;
              --box-shadow: none;
              --color: #BEA15B;
              --border-radius: 5px;
            }
          }
        }
      }
    }

    ion-note {
      align-self: center;

      & > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
      }

      ion-input {
        margin: 0 !important;
      }

      ion-img {
        width: 30px;
        height: 30px;
        outline: none;
      }

      ion-button {
        --ion-color-shade: #FFF9F0 !important;
        --ion-color-tint: #FFF9F0 !important;
        --ripple-color: currentColor;

        &.ion-color-primary {
          --ion-color-base: #FFF9F0 !important;
          --ion-color-base-rgb: #FFF9F0 !important;
          --ion-color-contrast: #BEA15B !important;
          --ion-color-contrast-rgb: #BEA15B !important;
          --ion-color-shade: #FFF9F0 !important;
          --ion-color-tint: #FFF9F0 !important;
          --ripple-color: currentColor;
          --border-width: 1px;
          --border-color: #BEA15B;
          --border-style: solid;
          --color-activated: #BEA15B;
          --color-focused: #BEA15B;
          --color-hover: #BEA15B;
          --box-shadow: none;
          --color: #BEA15B;
          --border-radius: 14px;
        }

        &.ion-color-medium {
          --ion-color-base: #FFFFFF !important;
          --ion-color-base-rgb: #FFFFFF !important;
          --ion-color-contrast: #7F7F7F !important;
          --ion-color-contrast-rgb: #7F7F7F !important;
          --ion-color-shade: #FFF9F0 !important;
          --ion-color-tint: #FFF9F0 !important;
          --ripple-color: currentColor;
          --border-width: 1px;
          --border-color: #A5A5A5;
          --border-style: solid;
          --color-activated: #7F7F7F;
          --color-focused: #7F7F7F;
          --color-hover: #7F7F7F;
          --box-shadow: none;
          --color: #7F7F7F;
          --border-radius: 14px;
        }
      }

    }

    &[required] {
      ion-label {
        &:after {
          content: '*';
          display: inline-block;
          margin-left: 5px;
          color: #FF0000;
        }
      }
    }
  }
}
